
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

// to avoid space between svg - not with flex

.noSpaceContainer{
  font-size: 0;
  display: flex;
  flex-direction: column; 
}

.noSpaceContainerHorizontal{
  font-size: 0;
  display: flex;
  flex-direction: row; 
}

.basepage {
  margin: 0;
    border-spacing: 0;
    background-color: $colorEmptyBackground;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.basefill {
  border-spacing: 0;
  background-color: $colorEmptyBackground;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}