$farbehintergrund:   rgba(170, 0, 0,0);

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

.basepage {
  margin: 0;
    border-spacing: 0;
    background-color: $farbehintergrund;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.basefill {
  border-spacing: 0;
  background-color: $farbehintergrund;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}