
.colorTextLaneNumber{
   //font-size: 10;
    text-align: right;
    font-weight: bold;
    fill: $colorLaneNumber;
}


.colorTextLaneName{
  fill: $colorLaneName;
}


.gridLane {
  border-spacing: 0;
  // background-color: $ColorLaneBackground;
  background-color: red;
  color: white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.gridEventNameSurround {
  height: 60px;
  background-color: $colorPlaceBackground;
}


.colorLaneName{
  stop-color: $ColorLaneBackground;
}

.colorLapTimeStart{
  stop-color: $ColorLaneBackground;
  stop-opacity: 1;
}

.colorLapTimeEnd{
  stop-color: $ColorLaneBackgroundEnd;
  stop-opacity: 1;
}

// lane number style

.colorNumber{
  stop-color: $colorPlaceBackground;
}

.colorTextNumber{
  stop-color: $colorLaneNumber;
}

// Finish Place style

.colorTextFinishPlace{
  stop-color: $colorLaneNumber;
}

.colorFinishPlace{
  stop-color: $colorLaneName;
}

.colorStateGreyName{
  stop-color: $colorStateGrey;
}

.colorStateGreyTextName{
  font-size: 10;
  fill: $ColorLaneBackground;
}