


.colorLaneName{
  stop-color: $ColorSwimmerBackground;
}

.colorEventName{
  stop-color: $ColorSwimmerBackground;
}

.colorTextLaneName{
  fill: $colorLaneName;
}


.gridLane {
  border-spacing: 0;
  background-color: red;
  color: white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.gridEventNameSurround {
  height: 60px;
  background-color: $colorLaneBackground;
}

.buttonEventName {
  //height: 60px;
  stop-color: $colorLaneBackground;
}

.colorLapTimeStart{
  stop-color: $ColorTimeBackground;
  stop-opacity: 1;
}

.colorLapTimeEnd{
  stop-color: $ColorTimeBackgroundEnd;
  stop-opacity: 1;
}

// lane number style


.colorNumber{
  stop-color: $colorLaneBackground;
}

.colorTextNumber{
  fill: $colorLaneNumber;
}

// Finish Place style

.colorTextFinishPlace{
  fill: $colorLaneName;
}

.colorFinishPlace{
  stop-color: $ColorPlaceBackground;
}

// 

.colorStateGreyName{
  stop-color: $colorStateGrey;
}

.colorStateGreyTextName{
  font-size: 10;
  fill: $ColorSwimmerBackground;
}