// Hervorrhebung

$colorBackHighlight: rgba(198,4,36, 1);
// gelb rgba(219, 239, 43, 1);
$colorTextHighlight: white;

// normal für Header etc

$colorBackNormal:  	rgba(16,78,139,0.9);
$colorBackNormalEnd: $colorBackNormal;
$colorBackTextNormal: white;

// Farbe 2 für Bahnen etc 

$colorFrontNormal:  rgba(255, 255, 255, 0.612);
$colorFrontNormalEnd: $colorFrontNormal;
$colorFrontTextNormal: black;

$colorEmptyBackground: rgba(0, 0, 0,0);