$colorLaneNumber: black;
$colorLaneName: white;
$colorPlaceBackground: rgba(219, 239, 43, 1);

// color for lanes - transission from start to end
$ColorLaneBackground: rgba(6, 71, 101, 1);
$ColorLaneBackgroundEnd:  rgba(98, 100, 98, 0.575);

$colorStateGrey: rgba(220, 235, 243, 1);
$farbehintergrund: rgba(0, 0, 0,0);
$clorlaneback1: rgba(72, 118, 255, 0.8);
$farbeback: rgba(72, 255, 87, 0.6);