// Hervorrhebung

$colorBackHighlight: rgba(198,4,36, 1);
// gelb rgba(219, 239, 43, 1);
$colorTextHighlight: white;

// normal für Header etc

$colorBackNormal:  rgba(58,95,205, 1);
$colorBackNormalEnd: $colorBackNormal;
$colorBackTextNormal: white;

// Farbe 2 für Bahnen etc 

$colorFrontNormal:  rgba(58,95,205, 1);
$colorFrontNormalEnd: $colorBackNormal;
$colorFrontNormal: white;

$colorEmptyBackground: rgba(0, 0, 0,0);